<section>
    <div class="bg-black text-white py-8">
    <div class="container mx-auto flex flex-col items-start md:flex-row my-12 md:my-24">
      <div class="flex flex-col w-full sticky md:top-36 lg:w-1/3 mt-2 md:mt-12 px-8">
        <p class="ml-2 text-yellow-300 uppercase tracking-loose">Accomodation Solutions</p>
        <p class="text-3xl md:text-4xl leading-normal md:leading-relaxed mb-2">Working to provide you the best</p>
        <p class="text-sm md:text-base text-gray-50 mb-4">
          Here to provide you world-class Accomodation solutions at flexible terms and reasonable prices.
        </p>
        <a href="/sites"
        class="bg-transparent mr-auto hover:bg-yellow-300 text-yellow-300 hover:text-white rounded shadow hover:shadow-lg py-2 px-4 border border-yellow-300 hover:border-transparent">
        Explore Now</a>
      </div>
      <div class="ml-0 md:ml-12 lg:w-2/3 sticky">
        <div class="container mx-auto w-full h-full">
          <div class="relative wrap overflow-hidden p-10 h-full">
            <div class="border-2-2 border-yellow-555 absolute h-full border"
              style="right: 50%; border: 2px solid #FFC100; border-radius: 1%;"></div>
            <div class="border-2-2 border-yellow-555 absolute h-full border"
              style="left: 50%; border: 2px solid #FFC100; border-radius: 1%;"></div>
  
            <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
              <div class="order-1 w-5/12"></div>
              <div class="order-1 w-5/12 px-1 py-4 text-right">
                <p class="mb-3 text-base text-yellow-300">1 May, 1998</p>
                <h4 class="mb-3 font-bold text-lg md:text-2xl">Registration</h4>
                <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                    All good things start small. <br>
                    We Started with 3 sites in Mumbai providing Accomodation to Corporate travellers. 
                </p>
              </div>
            </div>
            
            <div class="mb-8 flex justify-between items-center w-full right-timeline">
              <div class="order-1 w-5/12"></div>
              <div class="order-1  w-5/12 px-1 py-4 text-left">
                <p class="mb-3 text-base text-yellow-300">6 Jan, 2007</p>
                <h4 class="mb-3 font-bold text-lg md:text-2xl">Expansion</h4>
                <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                  Started Opertations in Pune to conclude our 4th city. Serving all big business hubs in India.
                </p>
              </div>
            </div>
            <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
              <div class="order-1 w-5/12"></div>
              <div class="order-1 w-5/12 px-1 py-4 text-right">
                <p class="mb-3 text-base text-yellow-300">23 July 2015 </p>
                <h4 class="mb-3 font-bold text-lg md:text-2xl">Portfolio grows</h4>
                <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                  Our portfolio swelled to 30+ apartments, Started contracts with Fortune 500 companies. 
                </p>
              </div>
            </div>

            <div class="mb-8 flex justify-between items-center w-full right-timeline">
              <div class="order-1 w-5/12"></div>

              <div class="order-1  w-5/12 px-1 py-4">
                <p class="mb-3 text-base text-yellow-300">12 July, 2020</p>
                <h4 class="mb-3 font-bold  text-lg md:text-2xl text-left">Lockdowns</h4>
                <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                  After going through the lockdowns, we resumed operations at all our sites on 12 July 2020.
                </p>
              </div>
            </div>
          </div>
          <img class="mx-auto -mt-36 md:-mt-36" src="https://user-images.githubusercontent.com/54521023/116968861-ef21a000-acd2-11eb-95ac-a34b5b490265.png" />
        </div>
      </div>
    </div>
  </div>
  </section>