{% extends 'components/navbar.html' %}
{% block content %}
{% load tailwind_filters %}
<body class="font-mono bg-secondary">
    <!-- Container -->
    <div class="container mx-auto">
        <div class="flex justify-center px-6 my-12">
            <!-- Row -->
            <div class="w-full xl:w-3/4 lg:w-11/12 flex">
                <!-- Col -->
                <div
                    class="w-auto h-auto bg-gray-400 hidden lg:block lg:w-5/12 bg-cover rounded-l-lg"
                    
                >
                {% load static %}
                <img src="{% static 'images/image7.jpeg' %}">
                </div>
                <!-- Col -->
                <div class="w-full lg:w-7/12 bg-white p-5 rounded-lg lg:rounded-l-none">
                    <h3 class="pt-4 text-2xl text-center">Contact Us</h3>
                    <form method="POST" action="{% url 'contact' %}" class="px-8 pt-6 pb-8 mb-4 bg-white rounded">
                        {% csrf_token %}  
                        {{ form|crispy }} 
                        <div class="mb-6 text-center">
                            <button
                                class="w-full px-4 py-2 font-bold text-white bg-blue-500 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline"
                                type="button"
                            >
                                Submit
                            </button>
                        </div>
                        <hr class="mb-6 border-t" />

                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
{% include 'components/footer.html' %}